# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Datos pesados (opcional, ver nota abajo)
# data/superstore.csv

# Sistema
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/